$color--normal: rgba(0, 0, 0, 0.75);
$color--secondary: rgba(0, 0, 0, 0.6);
$color--dark: rgba(0, 0, 0, 0.9);
$color--primary: #3852f3;

$bg--normal: #fff;
$bg--secondary: #f3f6f8;
$bg--primary: #3852f3;
$bg--dark: #e2e7f2